* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NOTE TO EVALUATER:  I COULD NOT FIND SF PRO DISPLAY ON GOOGLE FONTS, SO I HAVE USED SOURCE SANS PRO FONT AT ITS PLACE  */

/*------------------------------------------------FONTS---------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/*
font-family: 'Inter', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

/*------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------Global Sidebar Settings---------------------------------------------*/

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #101010;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #292929;
  padding: 10px;
}

/*------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------NavBar START----------------------------------------------------------*/
.navbar {
  width: 100vw;
  height: 10vh;
  background-color: #101010;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 2vw;
}

.navbar > .title {
  width: fit-content;
  height: 6vh;
  line-height: 6vh;
  font-size: 4vh;
  font-family: 'Source Sans Pro';
  font-weight: 700;
}

.navbar > .user {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
}

.navbar > .user > .name {
  width: fit-content;
  height: 4vh;
  line-height: 4vh;
  font-size: 2vh;
  font-family: 'Inter';
  font-weight: 700;
}

.navbar > .user > .image {
  height: 5vh;
  margin-left: 2vw;
  object-fit: contain;
}

.navbar > .user > .image > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
/*----------------------------------------------------NavBar END----------------------------------------------------------*/

/*-----------------------------------------------------MainArea START-------------------------------------------------------*/
.mainarea {
  position: absolute;
  top: 10vh;
  left: 0;
  height: 90vh;
  width: 100vw;
  background-color: #292929;
  padding: 4vh 4vw;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.mainarea-topbar {
  height: 4vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.mainarea-topbar-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mainarea-topbar-options > .opt-selected {
  color: #ffffff;
  line-height: 4vh;
  font-size: 2vh;
  font-weight: 700;
  margin-right: 1vw;
  border-bottom: 2px solid #ffffff;
  white-space: nowrap;
}

.mainarea-topbar-options > .opt {
  color: #d0cbcb;
  line-height: 4vh;
  font-size: 2vh;
  font-weight: 400;
  margin-right: 1vw;
  white-space: nowrap;
}

.mainarea-topbar-filterbtn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 18px;
}

.mainarea-topbar-filterbtn > .icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.4vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.mainarea-topbar-filterbtn > .icon > .line {
  height: 0.2vh;
  background-color: white;
  border-radius: 10px;
}
.mainarea-topbar-filterbtn > .icon > .line1 {
  width: 100%;
}
.mainarea-topbar-filterbtn > .icon > .line2 {
  width: 70%;
}
.mainarea-topbar-filterbtn > .icon > .line3 {
  width: 40%;
}

.mainarea-topbar-filterbtn > .title {
  color: #f2f2f2;
  line-height: 4vh;
  font-size: 2vh;
  font-weight: 500;
}

.mainarea-rideslist {
  position: relative;
  /*height: 70vh;*/
  height: 78vh;
  width: 100%;
  overflow-y: auto;
}

.mainarea-rideslist-card {
  position: relative;
  height: 22vh;
  width: calc(100% - 2px);
  margin: 1vh 0;
  border-radius: 10px;
  background-color: #171717;
}

.mainarea-rideslist-card > .image {
  position: absolute;
  top: 2vh;
  left: 2vw;
  width: 25%;
  height: 18vh;
}

.mainarea-rideslist-card > .image > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.mainarea-rideslist-card > .cnt {
  position: absolute;
  top: 2vh;
  left: calc(2vw + 25% + 2vw);
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mainarea-rideslist-card > .cnt > .line {
  display: flex;
}

.mainarea-rideslist-card > .cnt > .line > .title {
  color: #cfcfcf;
  font-weight: 500;
  font-size: 2vh;
}

.mainarea-rideslist-card > .cnt > .line > .value {
  margin-left: 10px;
  color: #ffffff;
  font-weight: 500;
  font-size: 2vh;
}

.mainarea-rideslist-card > .loc {
  position: absolute;
  top: 2vh;
  right: 2vw;
  display: flex;
  justify-content: space-evenly;
}

.mainarea-rideslist-card > .loc > .loc1 {
  border-radius: 16px;
  background-color: #000000;
  padding: 0.5vh 1vw;
  color: #ffffff;
  font-size: 1.5vh;
  margin-left: 1vw;
}
/*-----------------------------------------------------MainArea END-------------------------------------------------------*/
