* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NOTE TO EVALUATER:  I COULD NOT FIND SF PRO DISPLAY ON GOOGLE FONTS, SO I HAVE USED SOURCE SANS PRO FONT AT ITS PLACE  */

/*------------------------------------------------FONTS---------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/*
font-family: 'Inter', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

/*------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------NavBar START----------------------------------------------------------*/
.navbar {
  width: 100vw;
  height: 10vh;
  background-color: #101010;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 2vw;
}

.navbar > .title {
  width: fit-content;
  height: 6vh;
  line-height: 6vh;
  font-size: 4vh;
  font-family: 'Source Sans Pro';
  font-weight: 700;
}

.navbar > .user {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
}

.navbar > .user > .name {
  width: fit-content;
  height: 4vh;
  line-height: 4vh;
  font-size: 2vh;
  font-family: 'Inter';
  font-weight: 700;
}

.navbar > .user > .image {
  height: 5vh;
  margin-left: 2vw;
  object-fit: contain;
}

.navbar > .user > .image > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
/*----------------------------------------------------NavBar END----------------------------------------------------------*/

/*-----------------------------------------------------MainArea START-------------------------------------------------------*/
.mainarea {
  position: absolute;
  top: 10vh;
  left: 0;
  height: 90vh;
  width: 100vw;
  background-color: #292929;
  padding: 4vh 4vw;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.mainarea-topbar {
  height: 4vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
}

.mainarea-topbar-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mainarea-topbar-options > .opt-selected {
  color: #ffffff;
  line-height: 4vh;
  font-size: 2vh;
  font-weight: 700;
  margin-right: 1vw;
  border-bottom: 2px solid #ffffff;
}

.mainarea-topbar-options > .opt {
  color: #d0cbcb;
  line-height: 4vh;
  font-size: 2vh;
  font-weight: 400;
  margin-right: 1vw;
}

.mainarea-topbar-filterbtn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mainarea-topbar-filterbtn > .icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.4vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.mainarea-topbar-filterbtn > .icon > .line {
  height: 0.2vh;
  background-color: white;
  border-radius: 10px;
}
.mainarea-topbar-filterbtn > .icon > .line1 {
  width: 100%;
}
.mainarea-topbar-filterbtn > .icon > .line2 {
  width: 70%;
}
.mainarea-topbar-filterbtn > .icon > .line3 {
  width: 40%;
}

.mainarea-topbar-filterbtn > .title {
  color: #f2f2f2;
  line-height: 4vh;
  font-size: 2vh;
  font-weight: 500;
}

.mainarea-rideslist {
  position: relative;
  /*height: 70vh;*/
  height: 78vh;
  width: 100%;
  border: 1px solid white;
  overflow-y: auto;
}

.mainarea-rideslist-card {
  position: relative;
  height: 22vh;
  width: 100%;
  margin: 1vh 0;
  border-radius: 10px;
  background-color: #171717;
}
/*-----------------------------------------------------MainArea END-------------------------------------------------------*/
